.nav ul{
    margin: 0;
    padding: 0;
    background: springgreen;
    list-style: none;
    text-align: left;
}

.nav li{
    display: inline-block;
}
.nav a{
    text-decoration: none;
    color: black;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
    text-align: left;
}
.active, .nav a:hover{
    background: grey;
}
.navbar a:hover{
    background: gray;
}


h1 {
    color: black;
    text-align: center;
}

.navbar ul {
    list-style: none;
    background: gray;
    padding: 0;
    margin: 0;
    text-align: right;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color:black;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
    text-align: right;
    
}
.active, .navbar a:hover{
    background: green;
}
.navbar a:hover{
    background: cornsilk;
}
.profGoals{ 
    font-size: 30px;
    text-align: right;
}
body{
    background-image: url(goals.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}